@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #FFF7D6;
}

.customer-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110%, -75%);


}

form {
    /* border: 1px solid orange; */
    width: 24rem;
    font-size: 1.5rem;

}

fieldset {
    padding-left: 30px;
    padding-bottom: 20px;
}