<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h2>테스트페이지입니다.</h2>
        <form action="/test1" method="post">
            <fieldset>
                <h3>name</h3>
                <input type="text" name="name">
                <h3>color</h3>
                <input list="color-list" type="text" name="color">
                <!-- <datalist id="color-list">
                    <option value="read">
                    <option value="run">
                    <option value="coffee">
                </datalist> -->
                <button type="submit">submit</button>
            </fieldset>
        </form>
    </div>

</body>

</html>